@use "../../scss//variables.scss" as styles;
@use "../../scss//mixins.scss" as mixin;

.card {
	min-height: 500px;
}

.card--first {
	@include mixin.flexDisplay(column, center, center);
	text-align: center;
	border: 1px solid rgba(196, 196, 196, 1);
	border-radius: 1rem;
	width: 100%;
	margin: 0 auto;

	.card__emoji {
		@include mixin.flexDisplay(row, center, center);
		column-gap: 1.25rem;
		margin-bottom: 0.5rem;
	}

	.card__msg {
		@include mixin.flexDisplay(column, center, center);
		width: 100%;
		height: 50px;
		font-size: styles.$font-sub-title;
		margin-bottom: 2rem;
		font-weight: 600;
		background-color: transparent;
		border: none;
	}
}

.card--second {
	@include mixin.flexDisplay(column, flex-start, center);
	text-align: center;
}

@media screen and (min-width: 48em) {
	.card--first {
		width: 80%;
	}
}
